/* editor.module.css */
.editorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 좌우 배치 */
    gap: 20px; /* 간격 */
}

.editorTitle {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.editor {
    flex: 3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 200px;
    overflow-y: auto;
}
